{% extends 'base.html.twig' %}

{% block title %}Hello ImportController!{% endblock %}

{% block body %}
    {% for category, feedObjects in feeds %}
        <h4>{{ category }}</h4>
    {% endfor %}
{% endblock %}
